<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="den.project.imdb">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/round_popularity_background"
        android:name="den.project.imdb.App"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_popularity_background"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity
            android:name="den.project.imdb.presentation.MainActivity"
            android:screenOrientation="userPortrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>